name: Deploy Hello World Service

on:
  workflow_dispatch:
    inputs:
      site_name:
        description: 'The name of the site to deploy'
        required: true
        type: string

jobs:
  setup-and-deploy:
    runs-on: ubuntu-latest
    env:
      SITE_NAME: ${{ github.event.inputs.site_name }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: pip install ansible

      - name: Run Ansible Playbook to Install Tools
        run: |
          echo "Running Ansible to install Minikube, Kubectl, and Terraform..."
          ansible-playbook ansible/site.yml

      - name: Verify Versions
        run: |
          echo "Verifying installations..."
          minikube version
          kubectl version --client
          terraform --version
      
      - name: Start Minikube
        run: |
          echo "Starting Minikube..."
          minikube start --driver=docker --force
          echo "Waiting for nodes..."
          kubectl wait --for=condition=ready node --all --timeout=60s
          kubectl get nodes

      - name: Deploy with Terraform
        run: |
          echo "Initializing and Applying Terraform..."
          cd terraform
          terraform init
          terraform apply -auto-approve -var="site_name=$SITE_NAME"  

      - name: Verify Application
        run: |
          DEPLOYMENT_NAME="${SITE_NAME}-deployment"
          SERVICE_NAME="${SITE_NAME}-service"
          echo "Waiting for rollout to complete..."
          kubectl rollout status deployment/$DEPLOYMENT_NAME -n $SITE_NAME --timeout=60s
          kubectl port-forward service/$SERVICE_NAME 8080:80 -n $SITE_NAME &
          echo "Sending request to application"
          RESPONSE=$(curl -s --fail --retry 10 --retry-delay 1 --retry-connrefused localhost:8080)
          echo "Server Response: $RESPONSE"
          EXPECTED_TEXT="hello $SITE_NAME"
          if [[ "$RESPONSE" == *"$EXPECTED_TEXT"* ]]; then
            echo "SUCCESS: Site is up and valid!"
          else
            echo "FAILURE: Expected '$EXPECTED_TEXT' but got response: '$RESPONSE'"
            exit 1
          fi